<div class="row" id="notification">
    <div class="col-6 text-left">
      <h1>Designation</h1>
      &nbsp;&nbsp;&nbsp;
    </div>
  </div>
 <div class="row mb-3">
    <div class="col-md-8 text-left">
      <div class="d-block d-md-inline-block">
        <div class="input-group">
          <input
            #textSearch
            type="text"
            id="searchInput"
            style="width: 220px"
            class="form-control"
            placeholder="Search"
            data-provide="typeahead"
            autocomplete="off"
            (keyup)="onKeyUp($event.target.value)"
            (keyup.enter)="search()"
          />
          &nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary ml-2" (click)="search()">
            <i class="simple-icon-magnifier"></i>
          </button>
        </div>
      </div>
    </div>
  
    <div class="col-md-4 text-right">
      <button
        class="btn btn-primary"
        (click)="openModalForAdd(templateAddUpdate)"
      >
        Add Designation
      </button>
    </div>
  </div>
  
  <div class="separator mb-3"></div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th class="text-left" scope="col">Title</th>
                  <th class="text-left" scope="col">Description</th>
                  <th class="text-left" scope="col">Status</th>
                  <th class="text-center" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let desig of designationList | paginate
                : {
                    itemsPerPage: recordsPerPage,
                    currentPage: p,
                    totalItems: totalRecords
                  }
          ">
                  <td class="text-left">{{ desig.title }}</td>
                  <td class="text-left">{{ desig.descp }}</td>
                  <td class="text-left">{{ desig.isActive | Status }}</td>
                  <td class="text-center">
                    <i
                      (click)="openModalForUpdate(desig.desigID, templateAddUpdate)"
                      class="fa fa-edit cursor-pointer"
                      style="color: #145388; font-size: 15px; cursor: pointer"
                      aria-hidden="true"
                    ></i>
                    &nbsp;
                    <i
                      class="fa fa-trash-o cursor-pointer text-danger"
                      style="font-size: 20px"
                      aria-hidden="true"
                      (click)="deleteAlert(desig)"
                    ></i
                    >&nbsp;
                  </td> 
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls
          (pageChange)="pageChange((p = $event))"
        ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #templateAddUpdate>
    <form
      [formGroup]="addDesignationForm"
      (ngSubmit)="againValidOnAdd(addDesignationForm.value)"
      novalidate
    >
      <div
        class="modal-header"
        style="background-color: #0f3d64; border-radius: 0px"
      >
        <span
          *ngIf="formForEdit"
          class="modal-title"
          style="color: #fff; font-size: 18px"
          >Edit Designation</span
        >
        <span
          *ngIf="formForAdd"
          class="modal-title"
          style="color: #fff; font-size: 18px"
          >Add Designation</span
        >
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
          style="color: #fff"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label
                >Designation Title &nbsp;<span class="text-danger">*</span>&nbsp;<i
                  *ngIf="isValidating"
                  style="color: #576a3d"
                  class="fa fa-refresh fa-spin"
                ></i
                ><i
                  *ngIf="isMarkCorrect"
                  style="color: #576a3d"
                  class="fa fa-check"
                  aria-hidden="true"
                ></i
              ></label>
              <input
                class="form-control"
                trim="blur"
                formControlName="designationTitle"
                placeholder="Enter Designation Title"
                tabindex="1"
                maxlength="30"
              />
              <div
                *ngIf="
                  addDesignationForm.controls['designationTitle'].hasError('required') &&
                  addDesignationForm.controls['designationTitle'].touched
                "
                class="text-danger"
              >
                Required
              </div>
              <div *ngIf="isProductNameDuplicate" class="text-danger">
                This role already exists, please try different one
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label
                >Designation Description &nbsp;<span class="text-danger">*</span>&nbsp;<i
                  *ngIf="isValidating"
                  style="color: #576a3d"
                  class="fa fa-refresh fa-spin"
                ></i
                ><i
                  *ngIf="isMarkCorrect"
                  style="color: #576a3d"
                  class="fa fa-check"
                  aria-hidden="true"
                ></i
              ></label>
              <textarea
                class="form-control"
                trim="blur"
                formControlName="designationDescription"
                placeholder="Enter Designation Description"
                tabindex="1"
                maxlength="300"
              >
              </textarea>
              <div
                *ngIf="
                  addDesignationForm.controls['designationDescription'].hasError('required') &&
                  addDesignationForm.controls['designationDescription'].touched
                "
                class="text-danger"
              >
                Required
              </div>
              <div *ngIf="isProductNameDuplicate" class="text-danger">
                This description already exists, please try different one
              </div>
            </div>
          </div>
        </div>
          <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label
                >Designation Status &nbsp;<span class="text-danger">*</span>&nbsp;<i
                  *ngIf="isValidating"
                  style="color: #576a3d"
                  class="fa fa-refresh fa-spin"
                ></i
                ><i
                  *ngIf="isMarkCorrect"
                  style="color: #576a3d"
                  class="fa fa-check"
                  aria-hidden="true"
                ></i
              ></label>
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="designationCheck"
                  (change)="designationCheck = !designationCheck"
                  formControlName="designationIsActive"
                  value=""
                  id="designationIsActive"
                />
                <label
                  class="custom-control-label"
                  for="designationIsActive"
                  [innerHTML]="
                    addDesignationForm.value.designationIsActive === true
                      ? 'Active'
                      : 'Inactive'
                  "
                >
                </label>
              </div>
              <div
                *ngIf="
                  addDesignationForm.controls['designationIsActive'].hasError('required') &&
                  addDesignationForm.controls['designationIsActive'].touched
                "
                class="text-danger"
              >
                Required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="formForAdd"
          [disabled]="!addDesignationForm.valid || btnDisable"
          style="background-color: #0f3d64"
          class="btn text-white pull-right"
          type="submit"
          tabindex="4"
        >
          <i class="fa fa-save saveIcon"></i>&nbsp;Save&nbsp;<i
            *ngIf="loading"
            class="fa fa-refresh fa-spin"
          ></i>
        </button>
        <!-- <button *ngIf="formForAdd" [disabled]="!addDesignationForm.valid || btnDisable || isProductNameDuplicate" style="background-color: #576a3d;" class="btn text-white pull-right" type="submit" tabindex="4"><i
                    class="fa fa-save saveIcon"></i>&nbsp;Save&nbsp;<i *ngIf="loading"
                    class="fa fa-refresh fa-spin"></i></button> -->
        <button
          type="button"
          (click)="againValidOnUpdate(addDesignationForm.value)"
          *ngIf="formForEdit"
          style="background-color: #0f3d64"
          class="btn text-white pull-right"
          [disabled]="addDesignationForm.pristine || btnDisable"
        >
          <i class=""></i>&nbsp;Update&nbsp;<i
            *ngIf="loading"
            class="fa fa-refresh fa-spin"
          ></i>
        </button>
        <button
          (click)="close()"
          style="margin-right: 5px"
          type="button"
          class="btn btn-danger pull-right"
        >
          <i class="fa fa-close" aria-hidden="true"></i> Cancel
        </button>
      </div>
    </form>
  </ng-template>
  
  <ng-template #delete>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" (click)="close()">×</span>
      </button>
    </div>
    <div class="modal-body">
      <h6 class="text-black-50">Are you sure you want to delete this Product?</h6>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="deletePrd(selectedObj)"
        [disabled]="btnDisable"
      >
        Delete
      </button>
    </div>
  </ng-template>
  