<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mr-4">
      <div class="card flex-row flex-fill btn " style="color: white; background-color: #A465E2; width: 300px; height: 210px;" (click)="openModal()">
        <div class="card-body text-center">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../assets/img/loadFunds.png" alt="" style="width: 100px;">
          </div>
          <h1 class="card-title text-center font-weight-bold" style="font-size: 1.5rem;">LOAD FUNDS</h1>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mr-4 ml-4">
      <div class="card d-flex flex-row" style="color: white; background-color: #3EE8AE; width: 300px; height: 210px;" (click)="openRedeemFunds()">
        <div class="card-body text-center">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../assets/img/redeemFund.png" alt="" style="width: 145px;">
          </div>
          <h1 class="card-title text-center font-weight-bold" style="font-size: 1.5rem;">REDEEM FUNDS</h1>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 ml-4">
      <div class="card d-flex flex-row" style="color: white; background-color: #FFC336; width: 300px; height: 210px;" (click)="openCustomerInquiry()">
        <div class="card-body text-center">
          <div class="d-flex justify-content-center align-items-center">
            <img src="../assets/img/balance-inquiry.png" alt="" style="width: 130px;">
          </div>
          <h1 class="card-title text-center text-justify font-weight-bold" style="font-size: 1.5rem; padding-top: 17px;">CUSTOMER INQUIRY</h1>
        </div>
      </div>
    </div>
  </div>
</div>

