<footer>
  <div class="footer-content">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6">
          <nav class="navbar navbar-expand-md fixed-bottom navbar-border" style="padding-left: 45px ;">
            <div class="d-flex d-inline-block align-items-center navbar-left">
              <!-- <a href="/" class="navbar-logo" style="padding-left:135px" ><span class="logo d-none d-xs-block"></span></a> -->
              
              <div class="ml-n4 mb-0 text-center font-weight-bold text-uppercase" style="padding-left:35px; font-size:16px !important; color: #270235;">
                <a style="color: #270235;" href="https://nemiro.app/how-it-works" target="_blank">HOW IT WORKS</a>
              </div>            
            <div class="vr"></div>
            <div class="ml-n4 mb-0 text-center font-weight-bold text-uppercase" style="padding-left:55px; font-size:16px !important; color: #270235;">
              <a style="color: #270235;" href="https://nemiro.app/terms-%26-conditions" target="_blank">Terms and Conditions</a>
            </div>  
            <div class="vr"></div>
            <div class="ml-n4 mb-0 text-center font-weight-bold text-uppercase" style="padding-left:55px; font-size:16px !important; color: #270235;">
              <a style="color: #270235;" href="https://nemiro.app/faq" target="_blank">FAQs</a>
            </div> 
            <div class="vr"></div>
            <div class="ml-n4 mb-0 text-center font-weight-bold text-uppercase" style="padding-left:55px; font-size:16px !important; color: #270235;">
              <a style="color: #270235;" href="https://nemiro.app/contact-us" target="_blank">Contact</a>
            </div> 
            </div>
            <div class="text-center font-weight-bold d-flex align-items-center navbar-center">
            </div>
    
            <div class="ml-auto navbar-right">
             
          
                <div class="user d-inline-block">
                 <!-- <img src="/src/assets/img/Group 1895.png" alt=""> -->
                 <div class="logo-footer"></div>
                </div>
            
            </div>
          </nav> 
          <!-- <div class="d-flex" style="margin-top: ;">
            <div>Powered By FinTech Business Systems</div>
          </div>  -->
        </div>
        
      </div>
      
    </div>
  </div>
  
</footer>
