
  <div class="container justify-content-center"> 
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4" >
        <form  *ngIf="loadFundsFormVisible"
        style="border-radius: 10px; background-color: white;">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="col-md-4">
             
            </div>
            <div class="col-md-6">
              <div class="modal-header d-flex justify-content-center"
              style="background-color: #680D94;
               border-bottom-left-radius: 5px; 
               border-bottom-right-radius:5px;
               color: white;
                ">
                <h5 class="modal-title font-weight-bold" style="font-size: 15px">Load Funds</h5>
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
            <div class="modal-body">
              <form [formGroup]="loadFundsForm" >
                <div class="form-group">
                  <label for="account-reference"  style="color: #680D94; font-weight: 700;">Account Reference:</label>
                  <input type="text" 
                  class="form-control" 
                  [(ngModel)]="referenceNo"
                  placeholder="Enter Account Reference No" 
                  formControlName="accountReference"
                  style="background-color: white;
                  border-radius: 5px;
                  border-color: #680D94;
                  color: #680D94;">
                    <div
                    *ngIf="
                      loadFundsForm.controls['accountReference'].hasError('required') &&
                      loadFundsForm.controls['accountReference'].touched
                    "
                    class="text-danger"
                  >
                    Required
                  </div>
                </div>
                <!-- For Future Changes -->

                <!-- <div class="form-group amount-dollar">
                  <label for="amount" style="color: #680D94; font-weight: 700;">Amount:</label>
                    <input type="number" 
                      class="form-control" 
                      placeholder="amount" 
                      formControlName="amount"
                      style="background-color: white;
                      border-radius: 5px;
                      border-color: #680D94;
                      color: #680D94;"
                      step="0.01"
                      [(ngModel)]="amount"
                      (input)="calculateFee()"
                    >
                  <div *ngIf="
                      loadFundsForm.controls['amount'].hasError('required') &&
                      loadFundsForm.controls['amount'].touched
                    " class="text-danger">
                    Required
                  </div>
                </div> -->

                <div class="form-group amount-dollar">
                  <label for="amount" style="color: #680D94; font-weight: 700;">Amount:</label>
                    <input type="number" 
                      class="form-control" 
                      placeholder="amount" 
                      formControlName="amount"
                      style="background-color: white;
                      border-radius: 5px;
                      border-color: #680D94;
                      color: #680D94;"
                      step="0.01"
                   
                    >
                  <div *ngIf="
                      loadFundsForm.controls['amount'].hasError('required') &&
                      loadFundsForm.controls['amount'].touched
                    " class="text-danger">
                    Required
                  </div>
                </div>
<!-- 
                <div class="form-group amount-dollar">
                  <label for="amount" style="color: #680D94; font-weight: 700;">Fee Charged:</label>
                  <input type="text"
  class="form-control"
  placeholder="3%"

  style="background-color: white;
  border-radius: 5px;
  border-color: #680D94;
  color: #680D94;"
  [readonly]="true"
>
                </div> -->


                <div class="form-group amount-dollar">
                  <label for="amount" style="color: #680D94; font-weight: 700;">Fee Charged:</label>
                  <input type="text"
  class="form-control"
  placeholder="Enter Fee"
  formControlName="fee"
  style="background-color: white;
  border-radius: 5px;
  border-color: #680D94;
  color: #680D94;"
 
>

                  <div
                  *ngIf="
                    loadFundsForm.controls['fee'].hasError('required') &&
                    loadFundsForm.controls['fee'].touched
                  "
                  class="text-danger"
                >
                  Required
                </div>
                </div>

                <!-- for future changes -->
                <!-- <div class="form-group amount-dollar">
                  <label for="amount" style="color: #680D94; font-weight: 700;">Total Amount</label>
                  <input type="number" 
                  class="form-control" 
                  placeholder="Enter Fee" 
                  formControlName="fee"
                  style="background-color: white;
                  border-radius: 5px;
                  border-color: #680D94;
                  color: #680D94;"
                     step="0.01"
                     [(ngModel)]="fee"
                  >
                  <div
                  *ngIf="
                    loadFundsForm.controls['fee'].hasError('required') &&
                    loadFundsForm.controls['fee'].touched
                  "
                  class="text-danger"
                >
                  Required
                </div>
                </div> -->


              </form>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="submit"
              *ngIf="loadFundsForm"
              [disabled]="!loadFundsForm.valid || btnDisable"
              class="btn btn-primary"
              (click)="submitLoadFunds(loadFundsForm, myModal)"
              style="background-color: #680D94;
              border-color: #680D94;
              color: white;">  
              <i class="fa fa-save saveIcon"></i>&nbsp;Submit&nbsp;<i
               *ngIf="loading"
               class="fa fa-refresh fa-spin"></i></button>
              <button type="button" 
              class="btn btn-secondary" 
              style="background-color: white;
              border-color: #680D94;
              color: #680D94;"
              (click)="closeModal()">Close</button>
            </div>
        
        
      
       </form>
      </div>
    </div>
  </div>




  

  


<ng-template #myModal>
  <div class="modal-content d-block">
    <div class="modal-header d-flex justify-content-center align-items-center" style="background-color: #680D94; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; color: white;">
      <h5 class="modal-title font-weight-bold text-center w-100" id="exampleModalLabel" style="font-size: 25px">Funds Loaded</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" (click)="close()" style="border-color: #680D94; color: #ffffff;">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="loadFundsForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
            <label for="account-reference" style="color: #680D94; font-weight: 700;">Transaction Reference No:</label>
            <h6 type="text" style="background-color: white; border-radius: 5px; border-color: #680D94; color: #680D94;">{{ apiResponse.data.transactionId }}</h6>
          </div></div>
          <div class="col-md-6"> <div class="form-group">
            <label for="amount" style="color: #680D94; font-weight: 700;">Account Reference No:</label>
            <h6 type="text" style="background-color: white; border-radius: 5px; border-color: #680D94; color: #680D94;">{{ apiResponse.data.referenceNo }}</h6>
          </div></div>
        </div>
        <div class="row">
          <div class="col-md-6"><div class="form-group">
            <label for="account-reference" style="color: #680D94; font-weight: 700;">Amount Loaded:</label>
            <h6 type="text" style="background-color: white; border-radius: 5px; border-color: #680D94; color: #680D94;"> ${{ (apiResponse.data.amount || 0).toFixed(2) }}</h6>
          </div></div>
          <div class="col-md-6"> <div class="form-group">
            <label for="amount" style="color: #680D94; font-weight: 700;">Available Balance:</label>
            <h6 type="text" style="background-color: white; border-radius: 5px; border-color: #680D94; color: #680D94;"> ${{ (apiResponse.data.balance || 0).toFixed(2) }}</h6>
          </div></div>
        </div>
        <div class="row">
          <div class="col-md-4"><div class="form-group">
          
          </div></div>
          <div class="col-md-4"><div class="form-group">
            <label for="account-reference" style="color: #680D94; font-weight: 700;">Fee:</label>
            <h6 type="text" style="background-color: white; border-radius: 5px; border-color: #680D94; color: #680D94;">${{ (apiResponse.data.fee || 0).toFixed(2) }}</h6>
          </div></div>
          <div class="col-md-4"> <div class="form-group">
            
          </div>
        </div>
        </div>
      </form>
    </div>

  </div>

   
  

</ng-template>

